body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
  margin-top: 7em;
}

#food-search {
  margin-top: 5em;
}

.ui.large.table { 
  font-size: 1em !important; 
}

th, td { border: 1px solid rgba(34,36,38,.1); }




